<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="InitialInvestment">INITIAL INVESTMENT</label>
      <input
        type="number"
        id="InitialInvestment"
        name="initialInvestment"
        [(ngModel)]="initialInvestment"
      />
    </p>

    <p>
      <label for="AnnualInvestment">Annual Investment</label>
      <input
        type="number"
        id="AnnualInvestment"
        name="annualInvestment"
        [(ngModel)]="annualInvestment"
      />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="ExpecedReturn">EXPECTED RETURN</label>
      <input
        type="number"
        id="ExpecedReturn"
        name="expectedReturn"
        [(ngModel)]="expectedReturn"
      />
    </p>

    <p>
      <label for="Duration">DURATION</label>
      <input
        type="number"
        id="Duration"
        name="duration"
        [(ngModel)]="duration"
      />
    </p>
  </div>

  <div>
    <p>
      <button type="submit">CALCULATE</button>
    </p>
  </div>
</form>
